<div class="jumbotron text-center">
    <h1>SUSTAINABLE ORGANIZATIONS</h1>
    <p>Create lasting equitable impact for all stakeholders</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Growing customer expectations</h2>
            <p>The post-digital age shows no signs of slowing down. And the need for rapid business transformation has
                never been greater. </p>
            <p>We meet clients wherever they are on their paths to change—in every industry across the globe—and partner
                with them to create lasting value in every direction.
            </p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
            <h2>Core values</h2>
            <p>Our values shape the culture of our organization and define the character of our company. We live the
                core values through individual behaviors. They serve as the foundation for how we act and make
                decisions.</p>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>Agile transformation</h4>
            <p>Drive disruption by applying Lean principles to achieve substantial performance improvements,
                accelerating business change.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>Application management</h4>
            <p>Future-proof your application portfolio with innovation that pays for itself.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>Application modernization</h4>
            <p>Transform your legacy applications to become more agile and efficient through the power of New IT.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>Architecture</h4>
            <p>Plan and deliver a foundational technology architecture to maximize scalability and performance.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>Automation</h4>
            <p>Intelligent automation, like RPA (robotic process automation), natural language processing and virtual
                agents, can help you improve efficiency and productivity in many ways.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4>DevOps</h4>
            <p>Streamline IT by bringing business, development and operations teams together and applying automated
                processes.</p>
        </div>
    </div>
</div>